@{
    ViewBag.Title = "Thực hiện chuyển tiền";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #wrapper-page {
        width: 100%;
        height: 540px;
        background: #f1f2f2;
        position: absolute;
        right: 0px;
        left: 0px;
        top: 80px;
    }

    #hea {
        margin-top: 20px;
        display: flex;
        margin-left: 10%;
    }

    .mt {
        height: 30px;
        margin-top: 1px;
        margin-right: 15px;
    }

    .icon-mt {
        position: relative;
        z-index: 10;
    }

    #circle {
        position: absolute;
        padding: 20px;
        background: #f1f2f2;
        z-index: -1;
        border-radius: 25px;
        left: -4px;
        top: -4px;
    }

    .textct {
        font-size: 26px;
        font-weight: bold;
    }

    #tc {
        display: flex;
    }

    #ltc {
        display: flex;
        margin-top: 10px;
        margin-left: 13%;
    }

    .tct {
        color: black;
        margin-top: 3px;
        margin-left: 3px;
        font-weight: 300;
        font-size: 16px;
    }

    #cttttt {
        cursor: pointer;
    }

    #thct {
        color: black;
        margin-top: 3px;
        margin-left: 3px;
        font-weight: 700;
        font-size: 16px;
    }

    #ttgd {
        width: 78%;
        height: auto;
        margin-left: 11%;
        background: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
    }

    #e1:hover {
        margin: 10px 30px 0px 30px;
    }

    #e2:hover {
        margin: 10px 30px 0px 30px;
    }

    #e3:hover {
        margin: 10px 30px 0px 30px;
    }

    #e4:hover {
        margin: 10px 30px 0px 30px;
    }

    #e5:hover {
        margin: 10px 30px 0px 30px;
    }

    #e6:hover {
        margin: 10px 30px 0px 30px;
    }

    #e7:hover {
        margin: 10px 30px 0px 30px;
    }

    #e8:hover {
        margin: 10px 30px 0px 30px;
    }

    #D1 {
        margin-top: 30px;
        display: flex;
        border-bottom: 2px solid rgb(61, 132, 199);
        width: 70%;
        justify-content: space-between;
    }

    #D2 {
        display: flex;
    }

    #D3 {
        display: flex;
    }

    .m1 {
        width: 140px;
        height: 40px;
        background: green;
        margin: 15px 30px 0px 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
    }

    #ipmoney {
        font-size: 20px;
        width: 250%;
        margin-bottom: 2px;
        border: none;
        outline: none;
    }

    #vnd {
        font-size: 20px;
        font-weight: 600;
    }

    p {
        font-weight: 600;
    }

    #D4 {
        border-bottom: 2px solid rgb(61, 132, 199);
        width: 70%;
        margin-top: 15px;
    }

    #D5 {
        border-bottom: 2px solid rgb(61, 132, 199);
        width: 70%;
        margin-top: 15px;
    }

    #cbb {
        display: flex;
        justify-content: space-between;
        margin: 7px 0px;
        cursor: pointer;
    }

    #cbb1 {
        display: flex;
        justify-content: space-between;
        margin: 7px 0px;
    }

    #nc {
        font-size: 20px;
        font-weight: 500;
    }

    #icon-arrow {
        font-size: 16px;
    }

    #choice {
        position: absolute;
        width: 55%;
        height: auto;
        border-radius: 20px;
        margin-top: 3px;
        background: #f1f2f2;
        display: none;
    }

    .A1 {
        font-size: 20px;
        height: 30px;
        width: 98.4%;
        margin: 5px 0px 5px 10px;
        cursor: pointer;
    }

    #A11:hover {
        background: rgb(61, 132, 199);
    }

    #A12:hover {
        background: rgb(61, 132, 199);
    }

    #ndct {
        width: 310%;
        font-size: 16px;
        font-weight: 600;
        border: none;
        outline: none;
    }

    #btnsm {
        width: 300px;
        height: 50px;
        margin: 20px 0px 0px 0px;
        border-radius: 10px;
        border: none;
        background: linear-gradient(-90deg,rgb(0,108, 173),rgb(0,182,174));
        color: white;
        font-weight: 600;
        font-size: 16px;
        cursor: pointer;
    }

        #btnsm:hover {
            background: linear-gradient(90deg,rgb(0,108, 173),rgb(0,182,174));
        }

    #sotien {
        position: absolute;
        top: 127px;
        left: 313px;
        font-size: 22px;
        display: none;
    }

    #stringmoney {
        align-self: flex-start;
        margin-top: 10px;
        margin-left: 160px;
        color: blue;
        font-size: 18px;
        font-weight: 500;
    }

    #error {
        align-self: flex-start;
        margin-top: 5px;
        margin-left: 160px;
        color: red;
        font-weight: 500;
    }

    #error1 {
        align-self: flex-start;
        margin-top: 10px;
        margin-left: 160px;
        color: red;
        font-weight: 500;
    }
</style>
<form id="form-submit" action="">
    <div id="wrapper-page">
        <div id="hea">
            <div class="icon-mt">
                <div id="circle"></div>
                <a href="/TrangChu/Index"><img class="mt" src="https://smartbanking.bidv.com.vn/assets/media/svg/dark/left.svg" /></a>
            </div>
            <div class="textct">Chuyển tiền</div>
        </div>
        <div id="ltc">
            <div>
                <a href="/TrangChu/Index">
                    <div id="tc">
                        <div id="icon-home"><img id="img-aa" src="https://smartbanking.bidv.com.vn/assets/media/svg/grey/home.svg" /></div>
                        <div class="tct" id="ttt">Trang chủ</div>
                    </div>
                </a>
            </div>
            <div class="tct">/</div>
            <div>
                <a href="/ChuyenTien/Index">
                    <div class="tct" id="cttttt">Chuyển tiền</div>
                </a>
            </div>
            <div class="tct">/</div>
            <div id="thct">Thực hiện chuyển tiền</div>
        </div>
        <div id="ttgd">
            <div id="D1">
                <div>
                    <input id="ipmoney" placeholder="Số tiền" />
                    <div id="sotien">Số tiền</div>
                </div>
                <div id="vnd">VND</div>
            </div>
            <div id="stringmoney"></div>
            <div id="error"></div>
            <div id="D2">
                <div class="m1" id="e1"><p>100,000 VND</p></div>
                <div class="m1" id="e2"><p>200,000 VND</p></div>
                <div class="m1" id="e3"><p>500,000 VND</p></div>
                <div class="m1" id="e4"><p>1,000,000 VND</p></div>
            </div>
            <div id="D3">
                <div class="m1" id="e5"><p>5,000,000 VND</p></div>
                <div class="m1" id="e6"><p>10,000,000 VND</p></div>
                <div class="m1" id="e7"><p>20,000,000 VND</p></div>
                <div class="m1" id="e8"><p>30,000,000 VND</p></div>
            </div>
            <div id="D5">
                <div style="font-weight:500">Nội dung giao dịch</div>
                <div id="cbb1">
                    <div><input id="ndct" /></div>
                    <div id="lennoidung"></div>
                </div>
            </div>
            <div id="error1"></div>
            <div id="submit">
                <button id="btnsm">Tiếp tục</button>
            </div>
        </div>
    </div>
</form>
<script>
    $(document).ready(function () {
        $("#ipmoney").click(function () {
            $("#ipmoney").attr("placeholder", "");
            $("#sotien").css("display", "block");
            $("#sotien").animate({ top: "107px", "font-size": "14px" }, 250);
            $("#sotien").css("color", "rgb(26, 182, 196)");
        });
        $(".m1").click(function () {
            $("#ipmoney").attr("placeholder", "");
            $("#sotien").css("display", "block");
            $("#sotien").animate({ top: "107px", "font-size": "14px" }, 250);
            $("#sotien").css("color", "rgb(26, 182, 196)");
        });
        $.ajax({
            url: '/ThucHienChuyenTien/NoiDungGiaoDich',
            type: "GET",
            success: function (data) {
                $("#ndct").val(data);
                $("#lennoidung").text(data.length + "/250");
            }
        });
        var a;
        $('#ndct').on('input', function (e) {

            if ($("#ndct").val().length > 250) {
                $("#ndct").val(a);
            }
            a = $("#ndct").val();
            $("#lennoidung").text($("#ndct").val().length + "/250");
        });
        $(".mt").hover(function () {
            $("#circle").css("background", "white");
        }, function () {
            $("#circle").css("background", "#f1f2f2");
        });
        $("#tc").hover(function () {
            $("#img-aa").attr("src", "https://smartbanking.bidv.com.vn/assets/media/svg/accent/home.svg");
            $("#ttt").css("color", "#03ab9c");
        }, function () {
            $("#ttt").css("color", "black");
            $("#img-aa").attr("src", "https://smartbanking.bidv.com.vn/assets/media/svg/grey/home.svg");
        });
        $("#cttttt").hover(function () {
            $("#cttttt").css("color", "#03ab9c");
        }, function () {
            $("#cttttt").css("color", "black");
        });
        $("#cbb").click(function () {
            $("#choice").css("display", "block");
        });
        $("#A11").click(function () {
            $("#choice").css("display", "none");
            $("#nc").text("Người chuyển");
        });
        $("#A12").click(function () {
            $("#choice").css("display", "none");
            $("#nc").text("Người nhận");
        });
        $("#e1").click(function () {
            $("#ipmoney").val("100,000");
            $("#stringmoney").text("một trăm nghìn đồng");
        });
        $("#e2").click(function () {
            $("#ipmoney").val("200,000");
            $("#stringmoney").text("hai trăm nghìn đồng");
        });
        $("#e3").click(function () {
            $("#ipmoney").val("500,000");
            $("#stringmoney").text("năm trăm nghìn đồng");
        });
        $("#e4").click(function () {
            $("#ipmoney").val("1,000,000");
            $("#stringmoney").text("một triệu đồng");
        });
        $("#e5").click(function () {
            $("#ipmoney").val("5,000,000");
            $("#stringmoney").text("năm triệu đồng");
        });
        $("#e6").click(function () {
            $("#ipmoney").val("10,000,000");
            $("#stringmoney").text("mười triệu đồng");
        });
        $("#e7").click(function () {
            $("#ipmoney").val("20,000,000");
            $("#stringmoney").text("hai mươi triệu đồng");
        });
        $("#e8").click(function () {
            $("#ipmoney").val("30,000,000");
            $("#stringmoney").text("ba mươi triệu đồng");
        });
        var SoTien = "";
        $('#ipmoney').on('input', function (e) {
            if (($("#ipmoney").val().charCodeAt($("#ipmoney").val().length - 1) < 48 || $("#ipmoney").val().charCodeAt($("#ipmoney").val().length - 1) > 57)) {
                $("#ipmoney").val(SoTien);
            }
            if ($("#ipmoney").val().length > 15) {
                $("#ipmoney").val(SoTien);
            }
            SoTien = $("#ipmoney").val();
            $.ajax({
                url: '/ThucHienChuyenTien/StringMoney',
                type: "POST",
                data: { SoTien: $("#ipmoney").val() },
                success: function (data) {
                    $("#stringmoney").text(data);
                }
            });
            $.ajax({
                url: '/ThucHienChuyenTien/ConvertMoney',
                type: "POST",
                data: { SoTien: $("#ipmoney").val() },
                success: function (data) {
                    $("#ipmoney").val(data);
                }
            });
            var check;
            $.ajax({
                url: '/ThucHienChuyenTien/CheckMoney',
                type: "POST",
                data: { SoTien: $("#ipmoney").val() },
                success: function (data) {
                    if (data === false) {
                        $("#error").text("Số dư trong tài khoản không đủ");
                        $("#D1").css("border-bottom", "2px solid rgb(255,0,0)");
                    }
                    else {
                        $("#error").text("");
                        $("#D1").css("border-bottom", "2px solid rgb(61, 132, 199)");
                    }
                }
            });

        });
        $("#form-submit").submit(e => {
            if ($("#ipmoney").val() == "" && $("#ndct").val() == "") {
                $("#error").text("Nhập số tiền cần chuyển");
                $("#D1").css("border-bottom", "2px solid rgb(61, 132, 199)");
                $("#error1").text("Nhập nội dung giao dịch");
                $("#D5").css("border-bottom", "2px solid rgb(61, 132, 199)");
                e.preventDefault();
            }
            else if ($("#ipmoney").val() == "") {
                $("#error").text("Nhập số tiền cần chuyển");
                $("#D1").css("border-bottom", "2px solid rgb(61, 132, 199)");
                e.preventDefault();
            }
            else if ($("#ndct").val() == "") {
                $("#error1").text("Nhập nội dung giao dịch");
                $("#D5").css("border-bottom", "2px solid rgb(61, 132, 199)");
                e.preventDefault();
            }
            else if ($("#D1").css("border-bottom") == "2px solid rgb(255, 0, 0)") {
                e.preventDefault();
            }
            else {
                $.ajax({
                    url: 'GetString',
                    type: "POST",
                    data: { SoTien: $("#ipmoney").val(), NoiDung: $("#ndct").val() },

                });
                window.location.href = "/XacNhanGiaoDich/Index";
                e.preventDefault();
            }
        });
    });
</script>

